html, body { background: var(--color-bg-canvas); }
.sb-canvas { background: var(--color-bg-canvas); color: var(--color-text-primary); padding: 24px; min-width: 360px; font-family: var(--font-text); }
.sb-show-main.sb-main-fullscreen .sb-canvas { min-height: 100vh; display: flex; justify-content: center; align-items: flex-start; }
.docs-story .sb-canvas { padding: 16px; }
